build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
/Server/target/
PP2013
PP2014
/TestImages/sub.zip
/TestImages/sub/
.idea/workspace.xml
.gradle*

.idea/libraries/*.xml

.idea/libraries
